.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--products-card {
  display: none;
}

.products-card:focus .btn--products-card,
.products-card:hover .btn--products-card {
  width: calc(100% - 2px);
  display: flex;
  justify-content: center;
  background-color: $color-white-text;
  font-weight: 600;
  line-height: 1.5;
  color: $color-text;
  text-align: center;

  @include vp-1023 {
    width: calc(100% - 70px);
  }

  @include vp-767 {
    width: calc(100% - 50px);
  }
}

.btn--form {
  width: 100%;
  padding: 11px 20px;
  background-color: $color-white-text;
  color: $color-text;
  font-weight: 600;
  line-height: 1.5;

  display: flex;
  justify-content: center;
}
