.desc__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 112px 0 145px;
  display: grid;
  grid-template-columns: minmax(324px, 512px) minmax(324px, 560px);
  column-gap: 88px;

  @include vp-1023 {
    padding: 100px 0 93px;
    column-gap: 30px;
  }

  @include vp-767 {
    padding: 58px 0 86px;
    grid-template-columns: 1fr;
    row-gap: 43px;
  }
}

.desc__text-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.desc__heading {
  margin: 0 0 26px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;

  @include vp-1023 {
    margin: -9px 0 15px;
    font-size: 26px;
    line-height: 1.4;
  }

  @include vp-767 {
    margin: 0 0 15px -1px;
    font-size: 24px;
  }
}

.desc__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.desc__images img {
  @include vp-767 {
    width: 100%;
  }
}
