.products__wrapper {
  max-width: 1130px;
  margin: 0 auto;
  padding: 86px 0 120px;

  @include vp-1023 {
    padding: 90px 15px 100px;
  }

  @include vp-767 {
    padding: 57px 9px 65px;
  }
}

.products__heading {
  margin: 0 0 49px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;

  @include vp-1023 {
    font-size: 26px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.products__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(4, minmax(216px, 260px));
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 309px);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}
